---
import Layout from '../../../layouts/Layout.astro';
import type { Lang } from '../../../i18n/utils';
import { getCollection, render, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => {
    const [lang, ...rest] = post.id.split('/');
    return {
      params: { lang, slug: rest.join('/') },
      props: { post },
    };
  });
}

interface Props {
  post: CollectionEntry<'blog'>;
}

const { lang } = Astro.params as { lang: Lang };
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout lang={lang} title={post.data.title} description={post.data.description}>
  <article>
    <h1>{post.data.title}</h1>
    <p>
      <time datetime={post.data.pubDate.toISOString()}>
        {post.data.pubDate.toLocaleDateString(lang)}
      </time>
    </p>
    {post.data.image && <img src={post.data.image} alt="" />}
    <Content />
  </article>
</Layout>
